body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 0;
}
.product-card{
    width: 200px;
    margin: 10px 0;
}
.product-card img{
    width: 200px;
}
.product-card h3{
    color: dimgray;
    text-transform: uppercase;
    text-align: center;
}